{% extends 'base/index.html' %}

{% block title %}
    <title>ToDo App Demo</title>
{% endblock %}

{% block content %}
<div class="container my-5">

    <header class="text-center mb-5">
        <h1 class="display-4">Welcome to the To-Do app</h1>
        <p class="lead">Easy to use with No faff.</p>
    </header>

    {% if not user.is_authenticated %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-3"></i>
        <div>
            You're currently not signed in. <a data-bs-toggle="modal"data-bs-target="#loginModal" href="https://{{management_domain}}/issues" class="alert-link">Click here</a> to log in and manage your tasks.
        </div>
    </div>
    {% endif %}

    <section class="my-5">
        <div class="row">
            <div class="col-md-6">
                <h3>Features Overview</h3>
                <ul class="list-group mt-3">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-people-fill me-2"></i> Organized Group Tasks
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-person-check-fill me-2"></i> Easy Task Assignments
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-person-plus-fill me-2"></i> Collaborate with Multiple Assignees
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Dev note</h3>
                <p>This simple to do app is designed to showcase the speed and versatiltiy of graphql alongside JS and CSS.</p>
                <p> Right click and inspect to see the code. To see the backend look at our source code on github.</p>
                <p>Design your apps how you wish, this will provide you with a working foundation.</p>
            </div>
        </div>
    </section>

    {% if user.is_authenticated %}
    <section class="bg-light p-4 rounded my-5 card shadow-lg">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="border-bottom pb-3">Your Tasks!</h4>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assignTaskModal">
                Assign Task
            </button>
        </div>
       
    {% include 'todo/task-assign-modal.html' %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Non-completed tasks -->
<section class="mb-4 ">
    <h5 class="mt-3 mb-4">Pending</h5>
    <div id="pendingTasks">
        {% for task in assignments %}
            {% if not task.task.completed %}
            <div class="card mb-2 shadow">
                <div class="card-body">
                    <h6 class="card-title">{{ task }} <span class="text-muted small">- Assigned by {{task.assigned_by}} {{ task.created_at|date:'F j' }}</span></h6>
                    <button class="btn btn-success btn-sm" data-id="{{task.task.id}}" onclick="completeTask(this)">
                        <i class="fas fa-check"></i> Done
                    </button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Completed tasks -->
<section class="mb-4">
    <h5 class="mt-3 mb-4">Completed</h5>
    <div id="completedTasks">
        {% for task in assignments %}
            {% if task.task.completed %}
            <div class="card mb-2 bg-light">
                <div class="card-body">
                    <h6 class="card-title text-decoration-line-through">
                        {{ task }} <span class="text-muted small">- Assigned by {{task.assigned_by}} {{ task.created_at|date:'F j, Y' }}</span>
                    </h6>
                    <button class="btn btn-outline-dark btn-sm" data-id="{{task.task.id}}" onclick="completeTask(this)">
                        <i class="fas fa-undo"></i> Undo Completion
                    </button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

</section>


{% if user.is_authenticated %}
<script>
    async function completeTask(buttonElement) {
        const taskId = buttonElement.getAttribute('data-id');
        // Here we're changing from 'li' to 'div.card'
        const cardItem = buttonElement.closest('div.card');
        const pendingList = document.querySelector('#pendingTasks');
        const completedList = document.querySelector('#completedTasks');
    
        const query = `
            mutation CompleteTask {
                taskCompletion(taskId: "${taskId}") {
                    task {
                        id
                        completed
                    }
                }
            }
        `;
    
        try {
            const response = await fetch('/graphql/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({ query: query }),
            });
    
            const data = await response.json();
    
            if (data.data && data.data.taskCompletion) {
                const cardTitle = cardItem.querySelector('.card-title');  // Target the card title
            
                if (data.data.taskCompletion.task.completed) {
                    completedList.appendChild(cardItem);
                    cardTitle.classList.add('text-decoration-line-through');  // Add crossed through line
                    buttonElement.innerHTML = '<i class="fas fa-undo"></i> Undo Completion';
                } else {
                    pendingList.appendChild(cardItem);
                    cardTitle.classList.remove('text-decoration-line-through');  // Remove crossed through line
                    buttonElement.innerHTML = '<i class="fas fa-check"></i> Done';
                }
            } else {
                alert('Failed to update the task.');
            }
        } catch (error) {
            console.error('Error updating the task:', error);
        }
    }
    
    </script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the current date
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('dueDate').setAttribute('min', today);
        const tenantId = "{{ tenant.id }}";
        
        document.getElementById('assignTaskForm').addEventListener('submit', function(e) {
            e.preventDefault();
        
            // Collect form data
            const authToken = localStorage.getItem('authToken');
            const assignedById = document.getElementById('assignedById').value;
            const assignedToId = document.getElementById('assignedToId').value;
            const categoryId = parseInt(document.getElementById('categoryId').value); // Parse as Int
            const dueDate = document.getElementById('dueDate').value;
            const title = document.getElementById('taskName').value;
            const description = document.getElementById('taskDescription').value;
        
            // Construct GraphQL mutation using query and variables
            const query = `
                mutation AssignTask($assignedById: UUID!, $assignedToId: UUID!, $categoryId: Int!, $dueDate: Date, $tenantId: UUID!, $title: String!, $description: String!) {
                    assignTask(
                        assignedById: $assignedById,
                        assignedToId: $assignedToId,
                        categoryId: $categoryId,
                        dueDate: $dueDate,
                        tenantId: $tenantId,
                        title: $title,
                        description: $description
                    ){
                        task{
                            id
                        }
                    }
                }
            `;
         
            const variables = {
                assignedById,
                assignedToId,
                categoryId,
                dueDate,
                tenantId,
                title,
                description
            };
        
            // Send the mutation request using Fetch API
            fetch('/graphql/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Authorization': `Bearer ${authToken}`
                    // Add any other necessary headers, like CSRF tokens or authentication headers
                },
                body: JSON.stringify({
                    query: query,
                    variables: variables
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data && data.data && data.data.assignTask) {
                    // Maybe show a success message before reloading
                  
                    location.reload();
                } else {
                    // Handle any errors from GraphQL
                    console.error('Error assigning task:', data.errors);
                }
            })
            .catch(error => {
                console.error("Error sending GraphQL query:", error);
            });
        });
    });
</script>
{% endif %}
{% endif %}

</div>
{% endblock %}
