{% extends 'base/index.html' %}

{% block title %}
    <title class="bg-dark text-white">Management page Sign Up</title>
{% endblock %}

{% block content %}

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card rounded shadow mb-4">
                        <div class="card-header bg-dark text-white">
                            Realm sign up 
                        </div>
                        <div class="card-body ">
                            <form id ="realm-signup-form"action="/graphql/" method="post" >
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="realmName" class="form-label">Realm name<span class="small text-muted"> This must be lowercase with no spaces</span></label>
                                    <input type="text" class="form-control" id="realmName" name="realmName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="newrealmpassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="newrealmpassword" name="newrealmpassword" required>
                                </div>
                        
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
{% endblock %}

{% block extrajs %}
<script>
    document.getElementById("realm-signup-form").addEventListener('submit', function(e) {
        e.preventDefault();
        
        // Grabbing the management domain from the Django context
        const managementDomain = "{{ management_domain }}";
        const realmName = document.getElementById("realmName").value;
        const email = document.getElementById("email").value;
        const newrealmpassword = document.getElementById("newrealmpassword").value;
    
        const query = `
            mutation {
                createRealm(email: "${email}", newrealmpassword: "${newrealmpassword}", realmName: "${realmName}") {
                    success
                }
            }
        `;
    
        fetch('/graphql/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                // Add any other necessary headers, like CSRF tokens or authentication headers.
            },
            body: JSON.stringify({
                query: query
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data && data.data && data.data.createRealm) {
                alert('Realm created successfully. Redirecting to your new realm...');
                const realmURL = `https://${realmName}.${managementDomain}`;
                window.location.href = realmURL;
            } else {
                // Handle any errors from GraphQL
                console.error('Error during realm creation:', data.errors);
            }
        })
        .catch(error => {
            console.error("Error sending GraphQL query:", error);
        });
    });
    console.log(query);

</script>
{% endblock extrajs %}
