/* Targeting the site logo */
.jazzmin .main-header .brand-image {
    width: 50px !important;
    height: 50px !important;
}

/* Targeting the login logo */
.login-page .login-logo img {
    width: 50px !important;
    height: auto !important;  /* To maintain the aspect ratio */
}